/Library/*
/Temp/*
/.vs/*
/UnityPackageManager/*
PaymentAppSimulator.csproj
PaymentAppSimulator.Editor.csproj
PaymentAppSimulator.Editor.Plugins.csproj
PaymentAppSimulator.Plugins.csproj
PaymentAppSimulator.sln
