/Library/*
/Temp/*
/.vs/*
/UnityPackageManager/*
PaymentAppSimulator.csproj
PaymentAppSimulator.Editor.csproj
PaymentAppSimulator.Editor.Plugins.csproj
PaymentAppSimulator.Plugins.csproj
PaymentAppSimulator.sln
.vs/PaymentAppSimulator/v14/.suo
PaymentAppSimulator.csproj
PaymentAppSimulator.Plugins.csproj
.vs/PaymentAppSimulator/v14/.suo
